/* Variables */

$toggleButtonWidth: 50px !default;
$toggleButtonHeight: 50px !default;
$buttonColor1: #95A5A6 !default;
$buttonColor2: #7F8C8D !default;
$listeningBoxColor: #7F8C8D !default;
$instructionColor: #fff !default;

@import '../flat/flat.scss';
