@import '../basic';

/* Variables */

$toggleButtonWidth: 50px;
$toggleButtonHeight: 50px;
$buttonColorNotListening: #0074D9;
$buttonColorListening: #E40A5D;


/* Theme styles */

#skitt-ui {
  z-index: 200;
  position: fixed;
  bottom: 20px;
  left: 20px;

}

#skitt-toggle-button {
  width: $toggleButtonWidth;
  height: $toggleButtonHeight;
  display: inline-block;
  border-radius: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  -webkit-transition: background-color 400ms ease, width 400ms, height 400ms, border-radius 400ms;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMSBUaW55Ly9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS10aW55LmR0ZCc+PHN2ZyBiYXNlUHJvZmlsZT0idGlueSIgaGVpZ2h0PSIzMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJHdWlkZXNfX3gyNl9fRm9ybXMiLz48ZyBpZD0iSWNvbnMiPjxnPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMTYsMjFjMi4yMDksMCw0LTEuNzkxLDQtNHYtN2MwLTIuMjA5LTEuNzkxLTQtNC00Yy0yLjIwOSwwLTQsMS43OTEtNCw0djdDMTIsMTkuMjA5LDEzLjc5MSwyMSwxNiwyMXogTTE0LDEwICAgIGMwLTEuMTAzLDAuODk3LTIsMi0yYzEuMTAzLDAsMiwwLjg5NywyLDJ2N2MwLDEuMTAzLTAuODk3LDItMiwyYy0xLjEwMywwLTItMC44OTctMi0yVjEweiIvPjxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMjQsMTdoLTJjMCwzLjMwOC0yLjY5Miw2LTYsNnMtNi0yLjY5Mi02LTZIOGMwLDQuMDc5LDMuMDU1LDcuNDM4LDcsNy45MzFWMjZoLTR2MmgxMHYtMmgtNHYtMS4wNjkgICAgQzIwLjk0NSwyNC40MzgsMjQsMjEuMDc5LDI0LDE3eiIvPjwvZz48L2c+PC9zdmc+');
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 7px 6px;
  float: left;
}

.skitt-ui--listening #skitt-toggle-button {
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

label#skitt-toggle-button__label {
  float: left;
  line-height: $toggleButtonHeight;
  height: $toggleButtonHeight;
  margin-left: 7px;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
}

.skitt-ui--not-listening #skitt-toggle-button {
  background-color: $buttonColorNotListening;
}

.skitt-ui--listening #skitt-toggle-button {
  background-color: $buttonColorListening;
}

.skitt-ui--not-listening #skitt-toggle-button:hover {
  background-color: lighten($buttonColorNotListening, 10%);
}
.skitt-ui--not-listening:hover label#skitt-toggle-button__label {
  opacity: 1;
}
.skitt-ui--listening #skitt-toggle-button:hover {
  background-color: lighten($buttonColorListening, 10%);
}
